{% extends "students/base.html" %}

{% load static from staticfiles %}

{% block meta_title %}Журнал{% endblock meta_title %}

{% block title %}Обзор посещений{% endblock title %}

{% block content %}

    <!-- start students listing -->
    <table class="table">
    <!-- <table class="table table-hover table-striped"> -->
        <thead>
            <tr>
                <th><a href="">№</a></th>
                <th><a href="">Студент &uarr;</a></th>
                {% for day in week %}
                    <th>{{ day.day_of_week }}<br>{{ day.day }}</th>
                {% endfor %}
            </tr>
        </thead>
        <tbody>
            {% for leader in leaders %}
            <tr>
                <td>{{ forloop.counter}}</td>
                <td><a title="Редактировать" href="{% url "students_edit" leader.id %}">{{ leader.last_name }} {{ leader.first_name }}</a></td>
                {% for day in week %}
                    <td>
                    <div class="checkbox checkbox-inline">
                        <input type="checkbox" id="inlineCheckbox1" value="option1">
                    </div>
                    </td>
                {% endfor %}
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <!-- end students listing -->


{% endblock content %}
